{% extends "dashboard.twig" %}

{% block title %}Gebruikers | Stenden Support Desk{% endblock %}

{% block innerContent %}
    <div class="row">
        <h2>Gebruikers</h2>
    </div>
    <table id="userstable" class="table table-hover">
        <thead>
            <tr>
                <th># ID</th>
                <th>Naam</th>
                <th>Telefoon</th>
                <th>Email</th>
                <th>Bedrijf</th>
                <th>Functie</th>
                <th>Afdeling</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.UserID }}</td>
                    <td>{{ item.UserNaam }}</td>
                    <td>{{ item.Telefoon|default('-') }}</td>
                    <td><a href="mailto:{{ item.Email }}">{{ item.Email }}</a></td>
                    <td>{{ item.BedrijfNaam }}</td>
                    <td>{{ item.UserFunctie|default('-') }}</td>
                    <td>{{ item.UserAfdeling|default('-') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block innerJavascript %}
    $(document).ready(function() {
        $('#userstable').DataTable({
            'language': {
                'url': '//static.kuubstudios.com/datatables/1.10.4/dutch.json'
            }
        });
    });
{% endblock %}