{% extends "dashboard.twig" %}

{% block title %}Gebruikers | Stenden Support Desk{% endblock %}

{% block innerContent %}
    <div class="row">
        <div class="col-lg-11">
            <h2 class="page-header">Gebruikers</h2>
        </div>
        <div class="col-lg-1">
            <h2 class="page-header" style="text-align:right"><a data-toggle="modal" data-target="#create-new" href="#"><i class="fa fa-fw fa-plus"></i></a></h2>
        </div>
    </div>
    <table id="userstable" class="table table-hover">
        <thead>
            <tr>
                <th># ID</th>
                <th>Naam</th>
                <th>Telefoon</th>
                <th>Email</th>
                <th>Bedrijf</th>
                <th>Functie</th>
                <th>Afdeling</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.UserID }}</td>
                    <td>{{ item.UserNaam }}</td>
                    <td>{{ item.Telefoon|default('-') }}</td>
                    <td><a href="mailto:{{ item.Email }}">{{ item.Email }}</a></td>
                    <td><a href="/customers/view/{{ item.BedrijfID }}">{{ item.BedrijfNaam }}</a></td>
                    <td>{{ item.UserFunctie|default('-') }}</td>
                    <td>{{ item.UserAfdeling|default('-') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<div class="modal fade" id="create-new" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" class="form-horizontal" method="POST" action="/admin/users/create">
                <div class="modal-header">
                    Gebruiker Toevoegen
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Naam</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Volledige Naam" name="naam" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Inlog</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Inlog Naam" name="loginname" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Email</label>
                            <div class="col-sm-10">
                                <input type="email" placeholder="Email Adres" name="email" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Bedrijf</label>
                            <div class="col-sm-5">
                                <select id="klant" name="bedrijf" class="form-control">
                                    {% for k in klanten %}
                                        <option value="{{ k.BedrijfID }}">{{ k.BedrijfNaam }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <label class="col-sm-2 control-label" for="textinput">Functie</label>
                            <div class="col-sm-3">
                                <input type="text" placeholder="Functie" name="functie" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Telefoon</label>
                            <div class="col-sm-5">
                                <input type="tel" placeholder="Telefoon nummer (opt)" name="telefoon" class="form-control">
                            </div>

                            <label class="col-sm-2 control-label" for="textinput">Afdeling</label>
                            <div class="col-sm-3">
                                <input type="text" placeholder="Afdeling (opt)" name="afdeling" class="form-control">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                    <input type="submit" name="submit" class="btn btn-success" value="Toevoegen">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block innerJavascript %}
    $(document).ready(function() {
        $('#userstable').DataTable({
            'language': {
                'url': '//static.kuubstudios.com/datatables/1.10.4/dutch.json'
            },
            'iDisplayLength': 25
        });

        $('#klant').select2();
    });
{% endblock %}