{% extends "dashboard.twig" %}

{% block title %}Incidenten | Stenden Support Desk{% endblock %}

{% block innerContent %}
    <div class="row">
        <h2>{{ titel }}</h2>
    </div>
    <table id="ticketTable" class="table table-hover">
        <thead>
            <tr><th># ID</th><th>Titel</th><th>Lijn</th><th>Medewerker</th><th>Laatste reactie</th></tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.IncidentID }}</td>
                    <td>
                        {{ item.IncidentTitel }}
                        <span class="label {{ colors.Type[item.IncidentType]|default("label-default") }}">{{ item.IncidentType }}</span>
                        <span class="label {{ colors.Prio[item.IncidentPrioriteit]|default("label-default") }}">{{ item.IncidentPrioriteit }}</span>
                    </td>
                    <td>{{ item.IncidentLijn }}</td>
                    <td>{{ item.MedewerkerNaam|default("-") }}</td>
                    <td><time datetime="{{ item.LastDatum }}">{{ item.LastDatum }}</time></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block innerJavascript %}
    $(document).ready(function() {
        oTable = $('#ticketTable').dataTable({
            'language': {
                'url': '//static.kuubstudios.com/datatables/1.10.4/dutch.json'
            }
        });

        $('#ticketTable tbody td').click(function() {
            var aPos = oTable.fnGetPosition(this);
            var aData = oTable.fnGetData(aPos[0]);
            document.location.href = "/tickets/view/" + aData[0];
        });
    });
{% endblock %}