{% extends "dashboard.twig" %}

{% block title %}Incidenten | Stenden Support Desk{% endblock %}

{% block innerContent %}
    <div class="row">
        <h2>{{ titel }}</h2>
    </div>
    <table id="ticketTable" class="table table-hover">
        <thead>
            <tr><th># ID</th><th>Titel</th><th>Lijn</th><th>Klant</th><th>Medewerker</th><th>Laatste reactie</th></tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.IncidentID }}</td>
                    <td>
                        {{ item.IncidentTitel }}
                        <span class="label {{ colors.Type[item.IncidentType]|default("label-default") }}">{{ item.IncidentType }}</span>
                        <span class="label {{ colors.Prio[item.IncidentPrioriteit]|default("label-default") }}">{{ item.IncidentPrioriteit }}</span>
                    </td>
                    <td>{{ item.IncidentLijn }}</td>
                    <td><a href="/customers/view/{{ item.StartUser }}">{{ item.KlantNaam }}</a></td>
                    <td>{{ item.MedewerkerNaam|default('<a data-id="{{ item.IncidentID }}" href="#">Toewijzen</a>')|raw }}</td>
                    <td><time datetime="{{ item.LastDatum }}">{{ item.LastDatum }}</time></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="selectding" style="display:none">
        <form>
            <div class="input-group select2-bootstrap-append">
                <select class="form-control" name="medewerker" style="min-width:200px">
                    {% for m in medewerkers %}
                        <option value="{{ m.UserID }}">{{ m.UserNaam }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button"><i class="fa fa-fw fa-times"></i></button>
                    <button class="btn btn-success" type="button"><i class="fa fa-fw fa-check"></i></button>
                </span>
            </div>
        </form>
    </div>
{% endblock %}

{% block innerJavascript %}
    $(document).ready(function() {
        oTable = $('#ticketTable').dataTable({
            'language': {
                'url': '//static.kuubstudios.com/datatables/1.10.4/dutch.json'
            }
        });

        $('#ticketTable tbody td').click(function(e) {
            if(e.target.nodeName != 'TD') return;

            var aPos = oTable.fnGetPosition(this);
            var aData = oTable.fnGetData(aPos[0]);
            document.location.href = "/tickets/view/" + aData[0];
        });

        $('a[href="#"]').on('click', function(e) {
            e.stopPropagation();
            $(this).blur();


            var n = $('#selectding').clone().removeAttr('id').css('display', 'block');
            $(this).replaceWith(n);
            n.find('select').select2();
        });


    });
{% endblock %}