{% extends "dashboard.twig" %}

{% block title %}Incidenten | Stenden Support Desk{% endblock %}

{% block innerContent %}
    <div class="row">
        <h2>{{ titel }}</h2>
    </div>
    <table class="table table-hover">
        <thead>
            <tr><th># ID</th><th>Titel</th><th>Type</th><th>Lijn</th><th>Prioriteit</th><th>Medewerker</th><th>Laatste reactie</th></tr>
        </thead>
        {% if items %}
            {% for item in items %}
                <tr>
                    <td>{{ item.IncidentID }}</td>
                    <td>{{ item.IncidentTitel }}</td>
                    <td>{{ item.IncidentType }}</td>
                    <td>{{ item.IncidentLijn }}</td>
                    <td>{{ item.IncidentPrioriteit }}</td>
                    <td>{{ item.IncidentMedewerker }}</td>
                    <td>{{ item.IncReactieDatum }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="7">Geen resultaten gevonden</td></tr>
        {%  endif %}
    </table>
{% endblock %}