{% extends "dashboard.twig" %}

{% block title %}Open Incidenten | Stenden Support Desk{% endblock %}

{% block innerContent %}
    <div class="row">
        <h2>Open tickets</h2>
    </div>
    <table class="table table-hover">
        <thead>
            <tr><th># ID</th><th>Type</th><th>Kanaal</th><th>Lijn</th><th>Prioriteit</th><th>Melder</th><th>Laatst bekeken</th></tr>
        </thead>
        {% if items %}
            {% for item in items %}
                <tr><td>{{ item.incidentID }}</td><td>{{ item.incidentType }}</td><td>{{ item.incidentMelder }}</td><td>{{ item.incidentOmschrijving }}</td><td>{{ item.incidentPrioriteit }}</td><td>{{ item.incidentMelder }}</td><td>{{ item.incidentDatum }}</td></tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="7">Geen resultaten gevonden</td></tr>
        {%  endif %}
    </table>
{% endblock %}