{% extends "dashboard.twig" %}

{% block title %}FAQ | Stenden Support Desk{% endblock %}

{% block innerContent %}
    <div class="panel-group" id="accordion-cat">
        {% if canEdit %}
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat" href="#faq-cat-sub-new">
                        <h4 class="panel-title">
                            Nieuwe FAQ aanmaken
                            <span class="pull-right"><i class="fa fa-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-sub-new" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form role="form" method="POST" action="/faqadd">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Titel" name="titel" type="text">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Vraag" name="vraag"></textarea>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Antwoord" name="antwoord"></textarea>
                                </div>
                                <input type="submit" name="submit" class="btn btn-lg btn-success btn-block">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        {% for q in entries %}
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat" href="#faq-cat-sub-{{ loop.index0 }}">
                        <h4 class="panel-title">
                            {{ q.Titel }}
                            <span class="pull-right"><i class="fa fa-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-sub-{{ loop.index0 }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                        <strong>Vraag:</strong><br>
                        <pre>{{ q.Omschrijving }}</pre>
                        </p>

                        <p>
                        <strong>Antwoord:</strong><br>
                        <pre>{{ q.Oplossing }}</pre>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}